.container {
  background-color: var(--bg-color);
  margin-bottom: -32px;
  padding-bottom: 16px;
  position: relative;
  width: 100%;
  z-index: 0;
}

.cover {
  background: linear-gradient(
    180deg,
    color-mix(in srgb, var(--accent-color) 0%, transparent),
    color-mix(in srgb, var(--accent-color) 20%, transparent) 100%
  );
  background-position: center;
  background-size: cover;
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
  height: 200px;
  position: relative;
  width: 100%;

  &.withImage {
    background-image: var(--cover-image);
  }
}

.cover::after {
  background: linear-gradient(180deg, rgb(0, 0, 0, 0.3) 0%, rgb(0, 0, 0, 0) 100%);
  content: '';
  inset: 0;
  position: absolute;
}

.header {
  position: relative;
  z-index: 2;
}

.content {
  padding: 0 16px 24px;
  position: relative;
  z-index: 2;
}

.avatar {
  border: 4px solid var(--bg-color);
  box-sizing: content-box;
}

.username {
  color: var(--text-color);
  font: var(--font-body);
  font-weight: 500;
}

.name {
  color: var(--text-color);
  font: var(--font-h1);
  font-weight: 600;
}

.profession {
  color: var(--text-color-secondary);
  font: var(--font-body);
  font-weight: 400;
}

.memberBadge {
  background-color: var(--accent-color);
  border-radius: 100px;
  color: #fff;
  font: var(--font-caption);
  font-weight: 600;
  margin-top: 6px;
  padding: 2px 10px;
}
