.container {
  background-color: var(--bg-color);
  margin-bottom: -32px;
  padding-bottom: 32px;
  position: relative;
  width: 100%;
  z-index: 0;
}

.cover {
  background-image: url('https://images.unsplash.com/photo-1542291026-7eec264c27ff?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1000&q=80');
  background-position: center;
  background-size: cover;
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
  height: 200px;
  position: relative;
  width: 100%;
}

.cover::after {
  background: linear-gradient(180deg, rgb(0 0 0 / 0.3) 0%, rgb(0 0 0 / 0) 100%);
  content: '';
  inset: 0;
  position: absolute;
}

.header {
  position: relative;
  z-index: 2;
}

.content {
  padding: 0 16px 24px;
  position: relative;
  z-index: 2;
}

.avatar {
  border: 4px solid var(--bg-color);
}

.username {
  color: var(--text-color);
  font-weight: 500;
}

.name {
  color: var(--text-color);
  font: var(--font-h2);
}

.profession {
  color: var(--text-color-secondary);
  font: var(--font-caption);
}
