.profilePage {
  display: flex;
  flex-direction: column;
}

.buttonWrapper {
  padding: 0 16px 24px;
  position: relative;
  z-index: 1;
}

.tabsSection {
  background-color: var(--tertiary-bg-color) !important;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
  flex: 1;
  margin-bottom: -10px;
  position: relative;
  width: 100%;
  z-index: 2;

}