.NotFoundPage {
    align-items: center;
    background: var(--gradient-primary);
    color: var(--white);
    display: flex;
    flex-direction: column;
    height: 100%;
    inset: var(--navbar-height) 0 0 0;
    justify-content: center;
    padding: 1rem;
    position: fixed;
    text-align: center;
    width: 100%;
}

.content {
    align-items: center;
    backdrop-filter: blur(30px);
    background-color: var(--bg-color);
    border-radius: 20px;
    box-shadow: 0 10px 30px rgb(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 400px;
    padding: 2rem;
    width: 90%;
}

.title {
    background: linear-gradient(
        to right, 
        var(--accent-color), 
        var(--white)
    );
    background-clip: text;
    color: var(--white);
    color: transparent;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.button {
    background: var(--accent-color);
    border: none;
    transition: all 0.3s ease;

    &:hover {
        opacity: 0.9;
        transform: scale(1.05);
    }
}