.Page {
    flex-grow: 1;
    height: calc(100dvh - var(--TB-padding));
    -webkit-overflow-scrolling: touch;
    overflow-y: auto;
    
    overscroll-behavior: none;
    overscroll-behavior-y: none;
    padding: 0 1rem;
    
    scroll-behavior: smooth;
    transform: translateZ(0);
    width: 100%;
}