.Page {
  box-sizing: border-box;
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 0;
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  
  padding: 16px;
  padding-bottom: calc(var(--TB-padding, 90px) + env(safe-area-inset-bottom));
  
  scroll-behavior: smooth;
  
  touch-action: pan-y;
  -webkit-touch-callout: none;
  
  transform: translateZ(0);
  width: 100%;
  will-change: scroll-position;
}

.spacer {
  background-color: var(--bg-color);
  flex-shrink: 0;
  height: calc(var(--Navbar-size, 60px) + env(safe-area-inset-top));
}