.Page {
  box-sizing: border-box;
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 0;
  overflow: hidden auto;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior: none;
  
  padding-bottom: calc(var(--TB-padding, 90px) + env(safe-area-inset-bottom));
  
  scroll-behavior: smooth;
  
  touch-action: pan-y;
  -webkit-touch-callout: none;
  
  transform: translateZ(0);
  width: 100%;
  will-change: scroll-position;

  &.withNavbar {
    padding-top: 0;
  }

  &.noPaddingBottom {
    padding-bottom: 0;
  }
}

.spacer {
  background-color: var(--bg-color);
  flex-shrink: 0;
  height: var(--total-navbar-height);
  width: 100%;
}
