.Page {
  box-sizing: border-box;
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 0;
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  
  padding: 16px;
  padding-bottom: calc(var(--TB-padding, 90px) + env(safe-area-inset-bottom));
  padding-top: max(16px, env(safe-area-inset-top));
  
  scroll-behavior: smooth;
  
  touch-action: pan-y;
  -webkit-touch-callout: none;
  
  transform: translateZ(0);
  width: 100%;
  will-change: scroll-position;

  &.withNavbar {
    padding-top: 0;
  }
}

.spacer {
  background-color: transparent;
  flex-shrink: 0;
  height: var(--total-navbar-height);
  width: 100%;
}
