.Page {
  
  box-sizing: border-box;
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 100dvh;
  overflow: hidden auto;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior: none;
  padding: 16px;
  padding-bottom: calc(env(safe-area-inset-bottom) + 32px);
  padding-top: calc(var(--Navbar-size, 130px) + env(safe-area-inset-top));
  
  scroll-behavior: smooth;
  
  touch-action: pan-y;
  -webkit-touch-callout: none;
  
  transform: translateZ(0);
  width: 100%;
  will-change: scroll-position;
}

.desktop {
  padding-top: 16px;
}