.screen {
  align-items: center;
  background: var(--bg-color) url('shared/assets/bg/bg.svg') no-repeat center center;
  background-size: cover;
  display: flex;
  height: 100%;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.logoContainer {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 2;
}

.logo {
  height: auto;
  object-fit: contain;
  width: 120px;
}