.screen {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  color: var(--white);
  background: var(--gradient-primary);
  
  padding-bottom: 1.25rem;
  overflow-y: hidden;
}

.content {
  display: flex;
  align-items: center;
  flex: 1;
  flex-direction: column;
  justify-content: space-evenly;
}

.title {
  text-align: center;
  font-size: 2rem;
  font-weight: 800;
  line-height: 1.2;
  
  &Marked {
    font-style: italic;
  }
}

.button {
    width: 100%;
    padding: 1.25rem;
    box-sizing: border-box;
    display: block;
    min-width: 100%;

    &Go {
        width: 100%;
        min-width: 100%;
    }
}