.screen {
  align-items: center;
  background: var(--gradient-primary);
  color: var(--white);
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: hidden;
  
  padding-bottom: 1.25rem;
  width: 100%;
}

.content {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-evenly;
}

.title {
  font-size: 2rem;
  font-weight: 800;
  line-height: 1.2;
  text-align: center;
  
  &Marked {
    font-style: italic;
  }
}

.button {
    box-sizing: border-box;
    display: block;
    min-width: 100%;
    padding: 1.25rem;
    width: 100%;

    &Go {
        min-width: 100%;
        width: 100%;
    }
}