.mainPage {
  padding: 0 12px;
}

.header {
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  margin-top: 0;
  padding-top: 12px;
  position: sticky;
  top: var(--total-navbar-height);
  z-index: 100;

  &.desktop {
    top: 0;
  }
}

.tabs {
  padding: 0 !important;

  button {
    font-size: 14px !important;
    padding: 0 12px !important;
  }
}

.loading {
  align-items: center;
  color: var(--text-color-secondary);
  display: flex;
  font: var(--font-body);
  justify-content: center;
  min-height: 200px;
}