.passwordResetForm {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.title {
  color: var(--text-color);
  font: var(--font-h1);
  margin: 0 0 24px;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.label {
  color: var(--text-color);
  font: var(--font-caption);
}



.footer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: auto;
}