@import 'https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap';

:root {
    --font-family-main: 'Montserrat', blinkmacsystemfont, 'Segoe UI', roboto, 'Helvetica Neue', arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

    // H1: Montserrat Bold, 24px
    --font-size-h1: 24px;
    --font-weight-h1: 700;
    --font-h1: var(--font-weight-h1) var(--font-size-h1) var(--font-family-main);

    // H2: Montserrat Semibold, 18px
    --font-size-h2: 18px;
    --font-weight-h2: 600;
    --font-h2: var(--font-weight-h2) var(--font-size-h2) var(--font-family-main);

    // Body: Montserrat Regular, 16px
    --font-size-body: 16px;
    --font-weight-body: 400;
    --font-body: var(--font-weight-body) var(--font-size-body) var(--font-family-main);

    // Caption: Montserrat Light, 14px
    --font-size-caption: 14px;
    --font-weight-caption: 300;
    --font-caption: var(--font-weight-caption) var(--font-size-caption) var(--font-family-main);

    // Цвета
    --red: #ff5d5d;
    --green: #abdb9f;
    --TabBar-size: 60px;
    --Navbar-size: 90px;

    // components
    --primary-stroke: #1C1C1C;
    --TB-padding: 90px;
    --header-challenge-height: 32px;
    padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);

    // tg save area

    --sheet-bg-color: rgb(27, 27, 27, 1);
    --tertiary-bg-color: #1E1E1E;
    --bg-color: #010101;
    --card-bg: #393939;
    --secondary-card-bg: #5e5e5e;
    --primary-stroke: #1C1C1C;
}

html, body {
    height: 100%;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    overscroll-behavior: none;
  }
  
  .app {
    height: 100%;
    -webkit-overflow-scrolling: touch;
    overflow-y: auto;
    overscroll-behavior: contain;
    touch-action: pan-y;
  }
  