.card {
  background-color: var(--card-bg);
  border-radius: 32px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 6px;
  min-height: 120px;
  padding: 20px;
  position: relative;
  width: 100%;
}

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.title {
  color: var(--text-color-secondary);
  font: var(--font-caption);
  font-weight: 400;
  margin: 0;
}

.description {
  -webkit-box-orient: vertical;
  color: var(--text-color);
  display: -webkit-box;
  flex: 1;
  font: var(--font-body);
  font-weight: 400;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  line-height: 1.4;
  margin: 0;
  overflow: hidden;
}

.chevron {
  color: var(--text-color-secondary);
}