.section {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 12px;
}

.header {
  align-items: center;
  display: flex;
}

.backButton {
  align-items: center;
  background: none;
  border: none;
  color: var(--accent-color);
  cursor: pointer;
  display: flex;
  gap: 4px;
  padding: 0;
}

.icon {
  color: var(--accent-color);
  height: 24px;
  width: 24px;
}

.backText {
  font: var(--font-body);
  font-weight: 500;
}

.title {
  color: var(--text-color);
  font: var(--font-h1);
  font-weight: 600;
  margin: 0;
  margin-bottom: 16px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.item {
  align-items: flex-start;
  display: flex;
  gap: 16px;
  justify-content: space-between;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.itemTitle {
  color: var(--text-color);
  font: var(--font-body);
  font-weight: 400;
}

.itemDescription {
  color: var(--text-secondary);
  font: var(--font-caption);
  font-weight: 400;
  line-height: normal;
}
