.navbar {
  align-items: center;
  background-color: var(--bg-color);
  box-shadow: 0 2px 4px rgb(0, 0, 0, 0.1);
  display: flex;
  height: var(--total-navbar-height);
  justify-content: center;
  left: 0;
  padding-top: env(safe-area-inset-top);
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;

  &.desktop {
    display: none;
  }
}

.logo {
  height: 24px;
  object-fit: contain;
}

.spacer {
  background-color: transparent;
  flex-shrink: 0;
  height: var(--total-navbar-height);
  width: 100%;

  &.desktop {
    display: none;
  }
}
