.page {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow-y: hidden;
  padding: 16px;
}

.content {
  flex: 1;
}

.scrollContent {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 24px;
  overflow-y: auto;
  padding-bottom: 16px;
}

.fileInput {
  display: none;
}

.footer {
  margin-top: auto;
  padding-bottom: calc(env(safe-area-inset-bottom) + 16px);
  padding-top: 16px;
  width: 100%;
}

.divider {
  background: var(--secondary-card-bg);
  height: 1px;
  margin: 8px 0;
}

.searchHeader {
  margin-bottom: 16px;
}

.searchInput {
  background: var(--card-bg) !important;
  border: none !important;
  color: var(--text-color) !important;

  &::placeholder {
    color: var(--tertiary-text-color) !important;
  }
}

.searchIcon {
	color: var(--text-color-secondary) !important;
}

.emptyPhotoState {
  align-items: center;
  background: var(--tertiary-bg-color);
  border-radius: 16px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  min-height: 250px;
  transition: opacity 0.2s;
  width: 100%;

  &:active {
    opacity: 0.7;
  }

  svg {
    color: var(--text-color-secondary);
    height: 32px;
    width: 32px;
  }
}

.gallerySheetContent {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.gallerySheetBody {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
  padding: 16px;
}

.gallerySheetFooter {
  align-items: center;
  display: flex;
  gap: 8px;
  margin-top: auto;
  padding-bottom: calc(env(safe-area-inset-bottom) + 16px);
  padding-top: 16px;
}


