.loaderPageBg {
  align-items: center;
  background: var(--bg-color);
  display: flex;
  height: 100vh;
  inset: 0;
  justify-content: center;
  position: fixed;
  width: 100vw;
  z-index: 9999;
}

.loaderWrapper {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.loaderContent {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
}

.loader {
  align-items: center;
  animation: rotate 1s linear infinite;
  border-radius: 50%;
  display: flex;
  height: 48px;
  justify-content: center;
  position: relative;
  width: 48px;
}

.loader::before {
  animation: prixClipFix 2s linear infinite;
  border: 5px solid var(--accent-color);
  border-radius: 50%;
  box-sizing: border-box;
  content: "";
  inset: 0;
  position: absolute;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes prixClipFix {
  0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0);}
  25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0);}
  50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%);}
  75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%);}
  100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0);}
}