.errorCard {
    width: 100%; 

    :global(.ant-card-body) {
      align-items: center; 
      display: flex;
      flex-direction: column;
      gap: 8px;
      padding: 0;
    }
  }
  
  .errorMessage {
    color: var(--red-color);
    font-size: 15px; 
    text-align: center;
  }
  
  .errorContent {
    align-items: center;
    display: flex;
    gap: 8px; 
  }
  
  .errorIcon { 
    color: var(--red-light);
    font-size: 16px;
  }
  
  .errorDetailsCollapse {
    width: 100%;

    .ant-collapse-header {
      color: var(--text-color);
      padding: 0;
    }

    .ant-collapse-content-box {
      max-height: 150px; 
      overflow-y: auto;
      padding: 0; 
      padding-right: 5px; 
    }
  }
  
  .errorDetailsPanel {
    .ant-collapse-header {
      border-bottom: none;
      padding-left: 0;
    }

    .ant-collapse-content {
      border-top: none;
      padding-left: 0;
    }
  }
  
  .refreshButton {
    font-size: 14px; 
    padding: 8px 12px;
    width: 100%; 
  }
    