.errorCard {
    width: 100%; 

    :global(.ant-card-body) {
      padding: 0px; 
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 8px;
    }
  }
  
  .errorMessage {
    color: var(--red-color);
    font-size: 15px; 
    text-align: center;
  }
  
  .errorContent {
    display: flex;
    align-items: center;
    gap: 8px; 
  }
  
  .errorIcon {
    font-size: 16px; 
    color: var(--red-light);
  }
  
  .errorDetailsCollapse {
    width: 100%;
    .ant-collapse-header {
      padding: 0;
      color: var(--text-color);
    }
    .ant-collapse-content-box {
      padding: 0;
      max-height: 150px; 
      overflow-y: auto; 
      padding-right: 5px; 
    }
  }
  
  .errorDetailsPanel {
    .ant-collapse-header {
      border-bottom: none;
      padding-left: 0;
    }
    .ant-collapse-content {
      border-top: none;
      padding-left: 0;
    }
  }
  
  .refreshButton {
    width: 100%;
    font-size: 14px; 
    padding: 8px 12px; 
  }
    