.form {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 0;
}

.card {
  background-color: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 0;
}

.cardTitle {
  color: var(--text-color);
  font-size: 20px;
  font-weight: 600;
  margin: 0 0 8px;
}

.hint {
  color: var(--text-secondary);
  font-size: 14px;
  line-height: 1.4;
  margin: 0 0 16px;
  width: 80%;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.label {
  color: var(--text-secondary);
  font-size: 14px;

  // margin-left: 12px;
}

.innerInput {
  font-weight: 400;
}

.submitButton {
  background-color: var(--accent-color);
  font-weight: 500;
  margin-top: auto;
  
  &:hover {
    background-color: var(--accent-color);
    opacity: 0.9;
  }
}
