.page {
    background: var(--bg-color);
    display: flex;
    flex-direction: column;
    height: 100%;
    inset: 0;
    position: fixed;
    width: 100%;
}

.center {
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: center;
}

.text {
    color: var(--text-color-secondary);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2em;
    text-align: center;
    white-space: pre-line;
}

.bottom {
    padding: 16px 16px calc(16px + env(safe-area-inset-bottom));
}

.button {
    background: var(--green);
    border: none;
    border-radius: 40px;
    color: var(--bg-color);
    font-size: 14px;
    font-weight: 500;
    height: 48px;

    &:hover {
        background: var(--green);
        opacity: 0.9;
    }

    svg path {
        stroke: var(--bg-color);
    }
}
