.PageError {
    position: fixed;
    top: var(--navbar-height);
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--gradient-primary);
    color: var(--white);
    width: 100%;
    height: 100%;
    padding: 1rem;
    text-align: center;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(50px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 2rem;
    max-width: 400px;
    width: 90%;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.title {
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--white);
    margin-bottom: 1rem;
}

.text {
    color: var(--white);
    font-size: 1rem;
    margin-bottom: 1rem;
}