.PageError {
    align-items: center;
    background: var(--gradient-primary);
    color: var(--white);
    display: flex;
    flex-direction: column;
    height: 100%;
    inset: var(--navbar-height) 0 0 0;
    justify-content: center;
    padding: 1rem;
    position: fixed;
    text-align: center;
    width: 100%;
}

.content {
    align-items: center;
    backdrop-filter: blur(50px);
    background-color: rgb(255, 255, 255, 0.1);
    border: 1px solid rgb(255, 255, 255, 0.2);
    border-radius: 20px;
    box-shadow: 0 10px 30px rgb(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 400px;
    padding: 2rem;
    transition: all 0.3s ease;
    width: 90%;
}

.title {
    color: var(--white);
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.text {
    color: var(--white);
    font-size: 1rem;
    margin-bottom: 1rem;
}