.page {
  padding: 0 12px;
}

.tabs {
  padding: 0 !important;

  button {
    font-size: 14px !important;
    padding: 0 12px !important;
  }
}

.groupTitle {
  color: var(--text-color);
  font: var(--font-body);
}

.groupTitleHighlighted {
  color: var(--green);
  font: var(--font-body);
}
