.container {
  background: var(--tertiary-bg-color);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  height: 320px;
  justify-content: flex-end;
  overflow: hidden;
  position: relative;
  width: 100%;
}

@mixin shimmer {
  animation: shimmer 1.5s infinite linear;
  background: linear-gradient(
    90deg,
    rgb(255, 255, 255, 0.05) 0%,
    rgb(255, 255, 255, 0.2) 50%,
    rgb(255, 255, 255, 0.05) 100%
  );
  background-size: 200% 100%;
}

@keyframes shimmer {
  0% {
    background-position: 200% 0;
  }

  100% {
    background-position: -200% 0;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px;
  position: relative;
  width: 100%;
  z-index: 2;
}

.title {
  @include shimmer;
  border-radius: 4px;
  height: 24px;
  width: 70%;
}

.description {
  @include shimmer;
  border-radius: 4px;
  height: 16px;
  width: 90%;
}

.descriptionShort {
  @include shimmer;
  border-radius: 4px;
  height: 16px;
  width: 60%;
}

.userInfo {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  width: 100%;
}

.author {
  @include shimmer;
  border-radius: 4px;
  height: 14px;
  width: 100px;
}

.city {
  @include shimmer;
  border-radius: 4px;
  height: 14px;
  width: 60px;
}

.badges {
  display: flex;
  gap: 8px;
  left: 12px;
  position: absolute;
  top: 12px;
}

.badge {
  @include shimmer;
  border-radius: 12px;
  height: 24px;
  width: 50px;
}
