.app_dark_theme {
    --accent-color: #BB99FF;
    --text-color: #EDEDED;
    --text-color-secondary: #757575;
    --bg-color: #0E0E0E;
    --inverted-bg-color: #FFF;
    --stroke: #404040;
    --card-bg: rgba(255, 255, 255, 0.05);
    --dark-accent: #2E1938;
    --accent-border-color: #4C3954;
    --light-accent: #352E56;
}