.app_dark_theme {
    --accent-color: #E4A0CE;
    --text-color: #FFF;
    --text-color-secondary: #b8b8b8;
    --tertiary-text-color: #8f8f8f;
    --tertialy-card-bg: #484848; 
    --secondary-card-bg: #5e5e5e;
    --card-bg: #393939;
    --tertiary-bg-color: #1E1E1E;
    --bg-color: #010101;      
    --inverted-bg-color: #FFF;

}