.badge {
  align-items: center;
  background-color: var(--tertiary-bg-color);
  border: 1px solid var(--green);
  border-radius: 40px;
  display: flex;
  gap: 4px;
  height: 37px;
  padding: 6px 6px 6px 14px;
  width: fit-content;
}

.label {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.countBox {
  align-items: center;
  background-color: var(--green);
  border-radius: 40px;
  display: flex;
  height: 25px;
  justify-content: center;
  min-width: 25px;
  padding: 0 10px;
}

.count {
  color: var(--bg-color);
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}
