.container {
  background: var(--primary-stroke);
  inset: auto 0 0;
  padding-bottom: calc(1.5rem + env(safe-area-inset-bottom));
  position: fixed;
  width: 100%;
  z-index: 100;
}

.tabbar {
  backdrop-filter: blur(10px);
  background-color: var(--primary-stroke);
  border-top: 1px solid var(--card-bg, rgb(0, 0, 0, 0.1));
  display: flex;
  height: var(--TabBar-size);
  overflow: hidden;
}

.tab {
  align-items: center;
  color: var(--text-color, #999);
  display: flex;
  flex: 1;
  justify-content: center;
  text-decoration: none;
  transition: all 0.2s ease;

  svg {
    opacity: 0.4;
    transition: opacity 0.2s ease;
    
    :global(.fillable) {
      fill: none;
      transition: fill 0.2s ease;
    }
  }

  &.active {
    color: var(--tg-theme-accent-text-color, var(--accent-color));

    svg {
      opacity: 1;
      
      :global(.fillable) {
        fill: currentcolor;
      }
    }
  }

  .tabContent {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 4px;
    justify-content: center;
  }

  .tabLabel {
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
  }
}
