.container {
  background: var(--bg-color);
  inset: auto 0 0;
  padding-bottom: calc(1.5rem + env(safe-area-inset-bottom));
  position: fixed;
  width: 100%;
  z-index: 100;
}

.tabbar {
  backdrop-filter: blur(10px);
  background-color: var(--bg-color);
  border-top: 1px solid var(--stroke, rgb(0, 0, 0, 0.1));
  display: flex;
  height: var(--TabBar-size);
  overflow: hidden;
}

.tab {
  --icon-primary: currentcolor;
  align-items: center;
  color: var(--text-color, #333);
  display: flex;
  flex: 1;
  justify-content: center;
  opacity: 0.4;
  text-decoration: none;
  transition: all 0.2s ease;

  &.active {
    color: var(--accent-color);
    opacity: 1;

  }

  .tabContent {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 4px;
    justify-content: center;
  }

  .tabLabel {
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
  }
}