

.stickyHeader {
    background-color: var(--bg-color); 
    margin: 0 -16px; 
    padding: 8px 16px;
    position: sticky;
    top: 0;
    z-index: 10;
}

.control {
  background-color: var(--tertiary-bg-color);
  border-radius: 40px !important; 
  padding: 4px;
}

.indicator {
  background-color: var(--mantine-color-green-filled);
  border-radius: 40px !important;
  height: 100%;
}

.label {
  align-items: center;
  border-radius: 40px !important;
  color: var(--mantine-color-dimmed);
  display: flex;
  height: 100%;
  justify-content: center;
  padding: 0 12px;
  
  &[data-active] {
    color: var(--mantine-color-black);
    font-weight: 500;
  }
}
