.container {
  padding: 16px;
}

.title {
  color: var(--text-color);
  font: var(--font-h2);
}

.about {
  color: var(--text-color-secondary);
  font: var(--font-body);
  line-height: 1.5;
}

.tag {
  background-color: rgb(43 138 62 / 0.2);
  border-color: var(--green);
  border-radius: 20px;
  color: var(--text-color);
  font-weight: 400;
  height: 32px;
  padding: 0 12px;
  text-transform: none;
}

.label {
  color: var(--text-color-secondary);
  font: var(--font-caption);
}

.value {
  color: var(--text-color);
  font: var(--font-body);
}
