.container {
  aspect-ratio: 1 / 1;
  cursor: pointer;
  width: 100%;
}

.image {
  border: 1px solid var(--primary-stroke);
  border-radius: 24px;
  height: 100%;
  width: 100%;
}

.overlay {
  background: linear-gradient(180deg, rgb(0 0 0 / 0) 0%, rgb(0 0 0 / 0.6) 100%);
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  padding: 8px;
}

.likes {
  align-items: center;
  align-self: flex-start;
  backdrop-filter: blur(4px);
  background: rgb(0 0 0 / 0.5);
  border-radius: 40px;
  color: var(--text-color);
  display: flex;
  gap: 4px;
  padding: 4px 8px;
}

.content {
  width: 100%;
}

.title {
  color: var(--text-color);
  font: var(--font-caption);
  width: 100%;
}
