.container {
  aspect-ratio: 1 / 1;
  cursor: pointer;
  width: 100%;
}

.image {
  height: 100%;
  width: 100%;
}

.overlay {
  background: linear-gradient(180deg, rgb(0,0,0,0) 0%, rgb(0,0,0,0.6) 100%);
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  padding: 8px;
}

.likes {
  align-items: center;
  align-self: flex-start;
  backdrop-filter: blur(4px);
  background: rgb(0, 0, 0, 0.5);
  border-radius: 12px;
  color: white;
  display: flex;
  gap: 4px;
  padding: 4px 8px;
}

.content {
  width: 100%;
}

.title {
  color: white;
  width: 100%;
}
