.title {
  color: var(--text-color);
  font: var(--font-h1);
  font-weight: 600;
  margin-bottom: 24px;
}

.content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.body {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
  padding: 16px;
}


.scrollArea {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.sectionTitle {
  color: var(--text-color);
  font: var(--font-body);
  font-weight: 400;
  margin-bottom: 8px;
}

.card {
  background-color: var(--card-bg);
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 12px;
}

.cardTitle {
  color: var(--text-color);
  font: var(--font-body);
  font-weight: 500;

}

.cardDescription {
  color: var(--text-color);
  font: var(--font-caption);
  font-weight: 400;
  margin: 0;
}

.serviceContent {
  align-items: center;
  display: flex;
  gap: 12px;
}

.serviceText {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 4px;
}

.serviceImage {
  border-radius: 8px;
  flex-shrink: 0;
  height: 40px;
  object-fit: cover;
  width: 40px;
}

.comment {
  color: var(--text-color);
  font: var(--font-caption);
  font-weight: 400;
}

.commentHeader {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}

.commentCounter {
  color: var(--text-color-secondary);
  font: var(--font-caption);
  font-weight: 400;
}

.footer {
  align-items: center;
  display: flex;
  flex-shrink: 0;
  gap: 8px;
  margin-top: auto;
  padding-bottom: calc(env(safe-area-inset-bottom) + 16px);
  padding-top: 16px;
  width: 100%;
}

.submitButton {
  flex: 1;
}

.textarea {
  :global(.mantine-Textarea-input) {
    background: var(--tertiary-bg-color) !important;
    border: 1px solid var(--card-bg) !important;
    border-radius: 24px !important;
    color: var(--text-color) !important;
    font: var(--font-body) !important;
    font-size: 16px !important;
    min-height: 150px !important;
    overflow-y: auto !important;
    padding: 16px !important;

    &::placeholder {
      color: var(--tertiary-text-color) !important;
    }
  }
}
