.buttonWrapper {
  padding: 12px 16px 8px;
  position: relative;
  z-index: 1;
}

.profilePage {
  background-color: var(--bg-color) !important;
}

.tabsSection {
  background-color: var(--bg-color);
  position: relative;
  width: 100%;
  z-index: 1;
}
