.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 36px;
  width: 100%;
}

@mixin shimmer {
  animation: shimmer 1.5s infinite linear;
  background: linear-gradient(
    90deg,
    rgb(255, 255, 255, 0.05) 0%,
    rgb(255, 255, 255, 0.2) 50%,
    rgb(255, 255, 255, 0.05) 100%
  );
  background-size: 200% 100%;
}

@keyframes shimmer {
  0% {
    background-position: 200% 0;
  }

  100% {
    background-position: -200% 0;
  }
}

.header {
  align-items: center;
  display: flex;
  gap: 12px;
}

.avatar {
  @include shimmer;
  border-radius: 50%;
  height: 48px;
  width: 48px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.name {
  @include shimmer;
  border-radius: 4px;
  height: 16px;
  width: 120px;
}

.details {
  @include shimmer;
  border-radius: 4px;
  height: 12px;
  width: 180px;
}

.projects {
  display: flex;
  gap: 4px;
  overflow-x: hidden;
}

.projectImage {
  @include shimmer;
  border-radius: 12px;
  flex-shrink: 0;
  height: 120px;
  width: 160px;
}
